/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  /* Define the custom font for the whole document */
  font-family: 'Share Tech Mono', monospace;
  background-color: #0a0a0a;
  background-image: url("Background Books.png");
  color: #f8f8f8;
  text-align: center;
}

h2, b {
  color: #69a2b3;
}

button, select, label, p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14pt;
}

button {
    margin-top: 1em;
}

#header {
  margin-top: 3em;
  margin-bottom: 2em;
}

#content {
margin-left: 1em;
margin-right: 1em;
}
